@import "../../../styles/variables";

.lesson-heading {
  position: relative;

  a {
    display: inline-block;
    transform: translateY(0.2em);
    font-size: 2em;
    margin-right: 0.25em;
    color: color(blue);
    text-decoration: none;
  }
}