@import '../../../styles/variables';

.account-tooltip {
  position: relative;

  .avatar {
    padding: 0;
    cursor: pointer;
    border-radius: 50%;

    img {
      max-width: initial;
      border-radius: 50%;
    }
  }

  ul {
    z-index: 1;
    right: 0;
    top: 100%;
    position: absolute;
    white-space: nowrap;
    background: var(--background-color);
    border: 1px solid var(--accent-color);

    li {
      cursor: pointer;

      &:hover {
        @extend %gradientBackground;
        @extend %blueGradientBackground;
      }
    }

    a {
      display: block;
      padding: 0.75em 1em;
    }
  }
}

