@import '.././../../styles/variables';

.files-list {
  padding: 0;
  list-style: none;
  margin: 0;

  li {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: 0.25em;
    color: darken(color(grey), 5%);
    font-family: 'Courier New', Courier, monospace;

    &.is--ctx-selected {
      background: color(darker-white);
    }

    &:hover,
    &.is--selected {
      color: color(black);
      background: lighten(color(silver), 15%);
    }

    &.is-being-renamed {
      border: 1px solid color(black);
    }

    &[class*='has--feedback-']::before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      width: 0.25em;
      height: 100%;
    }

    &.has--feedback-improvement.has--feedback-opinion.has--feedback-praise::before {
      background: linear-gradient(
        to right,
        color(red),
        color(yellow),
        color(green)
      );
    }

    &.has--feedback-improvement.has--feedback-opinion::before {
      background: linear-gradient(to right, color(red), color(yellow));
    }

    &.has--feedback-improvement.has--feedback-praise::before {
      background: linear-gradient(to right, color(red), color(green));
    }

    &.has--feedback-opinion.has--feedback-praise::before {
      background: linear-gradient(to right, color(yellow), color(green));
    }

    &.has--feedback-improvement::before {
      background: color(red);
    }

    &.has--feedback-opinion::before {
      background: color(yellow);
    }

    &.has--feedback-praise::before {
      background: color(green);
    }

    .btn {
      color: inherit;
    }

    img {
      margin-right: 0.5em;
    }
  }
}

.filename-input {
  background: none;
  border: 0;
  color: inherit;
  text-overflow: ellipsis;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  pointer-events: none;
  width: 100%;

  &:not([disabled]) {
    pointer-events: initial;
    cursor: text;
  }
}
