@import '../../styles/variables';
@import '../../components/Editor/InitForm/InitForm.module.scss';

$mobile-threshold: 950px;

.new-exercise {
  @extend %containerConfig;

  h1 {
    margin-top: 1.5em;
    font-size: calc(1em + 1.5vw);
  }
  
  & > footer {
    margin: 2em 0;
  }

  [class*='ChapterControls'],
  [class*='PrivacyControls'] {
    margin-top: 2em;
  }

  @media screen and (max-width: $mobile-threshold) {
    & > form {
      margin-top: 7.5em;

      & > footer {
        align-items: flex-start;
        flex-flow: column;

        > * {
          margin-bottom: 1em;
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    @include init-editor-form-vertical;
  }
}

.example-wrapper {
  margin: 3em 0;

  & > button {
    width: 100%;
    padding: 1em;
    text-align: center;
  }

  & > h3 {
    margin: 0;
    display: inline-block;
    position: relative;
    top: 0.6em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.5em;
    border: 1px solid color(silver);
    border-radius: 0.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    @extend %gradientBackground;
    @extend %blackGradientBackground;
  }
}

.error-message {
  color: color(red);
  right: 0;
  top: 97%;
  width: 100%;
}
