.stats-card-layout-2 {
  p {
    margin: 0;
  }

  .header-card {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: 1em;
    align-items: center;
    text-align: center;
    margin: 0 0 1em;
    font-size: 0.85em;
    width: 100%;
    font-weight: 500;

    &::before,
    &::after {
      height: 0;
      content: "";
      opacity: 0.5;
      margin-bottom: -2px;
      border-bottom: 1px solid;
    }
  }

  .counter {
    font-size: 7em;
    margin-top: -0.1em;
  }

  .description {
    font-size: 1.5em;
    font-weight: 500;
  }
}
