@import  '../../styles/variables';
@import './ControlPanel/ControlPanel.module.scss';

.FullScreenIDE {
  width: 100vw;
  min-height: calc(100vh - #{$app-header-height});
}

.Header,
.actions-panel,
.main-panel,
.verify-panel {
  --background-color: #17181a;
  --text-color: var(--darker-white);
  --background-highlight: #232729;
}

.actions-panel {
  --text-color: var(--silver);
  --background-highlight: var(--blue);
}

.main-panel {
  --text-color: var(--darker-white);

  padding: 2em;
  overflow: auto;
  color: var(--text-color);
  background: var(--background-color);
}

.main-panel {
  z-index: 99;
  --text-color: var(--darker-white);
  border-top: 1px solid rgb(52, 52, 52);
}

.verify-panel {
  left: 0;
  bottom: 0;
}

.ControlPanel { 
  @media screen and (max-width: 1000px) {
    @include ControlPanel-column;
  }
}

.FullScreenIDE .EditorExplorer {
  --text-color: var(--silver);
  --background-color: #1D1F21;
  --background-color-header: #1D1F21;
  --accent-color: rgb(52, 52, 52);
  --accent-color-2: #232729;

  border: 1px solid var(--accent-color);
  border-left: 0;
}

.FullScreenIDE .HResizable {
  width: 2px;
  z-index: 12;
  background: rgb(52, 52, 52);
}


.BasicEditor {
  height: 100% !important;
  border-style: solid;
  border-color: rgb(52, 52, 52);
  background-color: #1D1F21;
  border-width: 1px 1px 1px 0;

  :global .overflow-guard {
    border: 0;
  }
}

.resizing .SandpackPreview iframe {
  pointer-events: none;
}

.SandpackProvider,
.SandpackPreview {
  height: 100% !important;

  iframe {
    height: 100%;
  }
}

.loader {
  z-index: 11;
}
