@import  '../../styles/variables';

.FullScreenIDE {
  width: 100vw;
  min-height: calc(100vh - #{$app-header-height});
}

.BasicEditor {
  height: 100% !important;
}

.resizing .SandpackPreview iframe {
  pointer-events: none;
}

.SandpackProvider,
.SandpackPreview {
  height: 100% !important;

  iframe {
    height: 100%;
  }
}

.loader {
  z-index: 11;
}
