@import '../../../styles/variables';

.init-editor-form {
  font-size: 16px;
  flex: 1;
  position: absolute;
  width: 100%;
  justify-content: space-around;
  height: 100%;
  background: color(white);
  border: 1px solid color(silver);

  &.is--dropable .upload-label {
    opacity: 1;
    pointer-events: all;
  }

  label {
    display: block;
    font-weight: bold;
  }

  .input-and-button {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  .separator {
    height: 100%;
    font-size: 3em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      z-index: 1;
      background: color(white);
      position: relative;
    }

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background: color(silver);
      position: absolute;
      transform: rotate(30deg);
    }
  }

  .dnd-cta {
    font-size: 1.5em;
    margin-right: 1em;

    label:hover {
      border-bottom: 2px solid color(black);
    }
  }

  .upload-label {
    opacity: 0;
    z-index: 1;
    display: flex;
    color: color(white);
    pointer-events: none;
    font-size: 3em;
    background: color(green);

    input {
      opacity: 0;
    }
  }

  input[type='text'] {
    width: auto;
    outline: 0;
    padding: 0.65em;
    font-size: 0.85em;
    margin-right: 1em;
    border-radius: 4px;
    border: 1px solid color(silver);
    font-family: 'Courier New', Courier, monospace;
  }

  button[type='submit'] {
    padding: 0.5em !important;
  }
}

@mixin init-editor-form-vertical {
  [class*=init-editor-form] {
    flex-flow: column nowrap;

    [class*=separator] {
      width: 100%;
      font-size: 2.5em;
      height: initial;

      &::before {
        content: none;
      }
    }

    [class*=dnd-cta] {
      margin-right: 0;
    }
  }
}
