@import '../../styles/variables';

.Button {
  padding: 0.25em 0.5em;

  svg {
    min-width: 1em;
  }
}

// TODO: these lines are duplicated in other Buttons
// used inside the Header. The proper way to do this is
// to have a Button variant that knows how to change
// based on theme: "light" | "dark".
.theme-light .Button {
  color: color(black);
  background: color(darker-white);
  border: 1px solid color(silver);
}

.theme-dark .Button {
  color: color(darker-white);
  border: 1px solid color(grey);
}

.tooltip {
  @extend %mini-scrollbar;

  position: absolute;
  top: 100%;
  right: 0;
  width: 20em;
  max-width: 100vw;
  height: 15em;
  overflow-y: auto;
  max-width: 100vw;
  border: 1px solid color(silver);
}

.theme-dark .tooltip {
    color: color(white);
    background: color(black);
    border-color: color(grey);
}

// TODO: extract as a separate "Badge" component
.unread-badge {
  position: absolute;
  top: 0em;
  right: -0.5em;
  height: 1.5em;
  min-width: 1.5em;
  border-radius: 50%;
  line-height: 0.5em;
  padding: 0.5em 0 0 0.1em;
  transform: translateY(-50%);
  background-color: color(red);
}
