@import "../../styles/variables";

.notification-tooltip {
  min-width: 20em;
  position: absolute;
  right: 0;
  border: 1px solid #bcc2c6;
  box-shadow: 0 0 1px #77838b;
  background-color: color(white);
  z-index: 11;

  .icon {
    padding: 0.5em 0 0 0.5em;
  }

  ul {
    height: 15em;
    overflow-y: auto;
  }
}

.mark-all-as-read-btn {
  padding: 0;
  cursor: pointer;
  background: none;
  margin: 0.4em 0.75em 0 0;

  &:hover {
    font-weight: bold;
    color: color(blue);
  }
}

@media screen and (max-width: 400px) {
  .notification-tooltip {
    right: -3.5em;
  }
}