@import '../../styles/variables';

.audio-player {
  @extend %gradientBackground, %blueGradientBackground;
  
  max-width: 18em;
  border-radius: 0.75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 1em;
  box-shadow: 0 0 0.5em color(black);

  button {
    width: 4em;
    height: 4em;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 2em;
    box-shadow: 0 0 5px color(black);
  }

  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 5em);
  }
}