@import '../../styles/variables';

.lesson {
    --aside-width: 18em;

    display: flex;
    flex-flow: row nowrap;

    aside {
        z-index: 1;
        height: 100%;
        position: fixed;
        width: var(--aside-width);
        padding: 1em 0.5em 0 0.5em;
        transition: transform 0.25s ease-out;
    }

    :global .aside-header {
        margin-bottom: 2em;

        h2 {
            margin: 0;
        }

        button {
            width: 1.25em;
            display: none;
        }
    }

    :global aside.is--open {
        transform: translateX(100%);
    }

    main {
        position: relative;
        left: var(--aside-width);
        width: calc(100% - var(--aside-width));

        :global header .ceva {
            display: none;
        }
    }

    article {
        width: $width;
        max-width: $max-width;
        position: relative;
        margin: 0 auto;

        h1 {
            font-size: 2.25em;
        }

        h2 {
            font-size: 1.5em;
        }
    }

    @media screen and (max-width: 1400px) {
        aside {
            left: -18em;
        }

        :global .aside-header button,
        :global .header__menu-btn {
            display: block;
        }

        main {
            left: 0;
            width: 100%;
        }
    }

}

.cover {
    padding: 1em;
    border-radius: 1em;
    border: 1px solid color(silver);
}

.contributors {
    right: 0;
    top: 0.75em;
    position: absolute;

    @media screen and (max-width: 400px) {
      position: relative;
      top: initial;
      bottom: 1.75em;
      float: right;
    }
}
