@import '../../styles/variables';

.page {
  font-size: 1rem;
  padding: 8em 0;

  h1 {
    margin-top: 0;
    font-size: calc(30px + 2vw);
  }

  h2 {
    font-weight: normal;
    font-size: calc(18px + 1.5vw);
    line-height: 2em;
  }

  a {
    margin-top: 2em;
    display: inline-block;
    font-size: 20px;
    padding: 0.5em 1em;
    text-decoration: none;
  }
}

.not-wrote-yet {
  @extend %containerConfig;
  max-width: 1600px;

  p {
    margin-top: 2em;
    font-weight: normal;
    font-size: calc(12px + 1.5vw);
    line-height: 2em;
  }

  @media screen and (max-width: 1000px) {
    :global .hero {
      flex-flow: column;
      justify-content: initial;

      img {
        align-self: flex-end;
      }
    }
  }
}
