@import "../../styles/variables";

.header {
  display: flex;
  height: 3.3em;
  align-items: center;
  padding: 0 5vw;
  position: relative;
  justify-content: space-between;
  background-color: color(darker-white);
  border-bottom: 1px solid color(silver);
}

.menu {
  padding: 0;
  width: 1.25em;
  height: 1.25em;
  display: none;
  margin-right: 0.5em;
}

.logo {
  height: 100%;
  display: inline-block;
  position: relative;

  img {
    max-height: 100%;
  }
}

.demo-label {
  padding: 0.5em;
  border-radius: 0.5em;
  background: color(black);
}

.header-tooltip {
  display: inline-block;
  position: relative;
  z-index: 1;

  .scroll-wrapper,
  &.header-tooltip--no-scroll ul {
    position: absolute;
    right: 0;
    border: 1px solid color(silver);
    box-shadow: 0 0 1px color(grey);
    background-color: color(white);
  }

  ul {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid color(silver);

      &:last-of-type {
        border-bottom: 0;
      }

      &:hover {
        // @extend %gradientBackground;
        // @extend %blueGradientBackground;
        color: color(white);
      }
    }
  }
}
