@import '../../styles/variables';

.share-wrapper {
  width: 15em;
  position: relative;

  button,
  a {
    width: 100%;
  }

  ul {
    position: absolute;
    display: flex;
    width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-out;
  }

  li {
    opacity: 0;
    padding: 0.5em 1em;
    background: color(white);
    transform: translateY(var(--transform-distance));
    transition: all 0.25s ease-out;
  }

  li:nth-child(2) {
    transform: translateY(calc(var(--transform-distance) * 2));
  }

  li:nth-child(3) {
    transform: translateY(calc(var(--transform-distance) * 3));
  }

  li:nth-child(4) {
    transform: translateY(calc(var(--transform-distance) * 4));
  }

  li:nth-child(5) {
    transform: translateY(calc(var(--transform-distance) * 5));
  }
}

.share-wrapper--open {
  ul {
    opacity: 1;
    pointer-events: initial;
  }

  li {
    opacity: 1;
    transform: translateY(0) !important;
  }
}

.share-wrapper--up {
  --transform-distance: 2em;

  ul {
    left: 0;
    bottom: 100%;
    flex-direction: column-reverse;
  }
}

.share-wrapper--down {
  --transform-distance: -2em;

  ul {
    left: 0;
    top: 100%;
    flex-direction: column;
  }
}

.facebook:hover {
  color: color(white);
  border-color: color(facebook-blue);
  background: color(facebook-blue);
}

.twitter:hover {
  color: color(white);
  border-color: color(twitter-blue-hover);
  background: color(twitter-blue-hover);
}

.whatsapp:hover {
  color: color(white);
  background: color(whatsapp-green);
  border-color: color(whatsapp-green);
}

.linkedin:hover {
  color: color(white);
  background: color(linkedin-blue);
  border-color: color(linkedin-blue);
}
