/* source-code-pro-300 - latin-ext_latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('https://d3tycb976jpudc.cloudfront.net/public/fonts/source-code-pro-v18-latin-ext_latin-300.woff2') format('woff2'),
       url('https://d3tycb976jpudc.cloudfront.net/public/fonts/source-code-pro-v18-latin-ext_latin-300.woff') format('woff');
}

/* source-code-pro-regular - latin-ext_latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('https://d3tycb976jpudc.cloudfront.net/public/fonts/source-code-pro-v18-latin-ext_latin-regular.woff2') format('woff2'),
       url('https://d3tycb976jpudc.cloudfront.net/public/fonts/source-code-pro-v18-latin-ext_latin-regular.woff') format('woff');
}

/* source-code-pro-700 - latin-ext_latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('https://d3tycb976jpudc.cloudfront.net/public/fonts/source-code-pro-v18-latin-ext_latin-700.woff2') format('woff2'),
       url('https://d3tycb976jpudc.cloudfront.net/public/fonts/source-code-pro-v18-latin-ext_latin-700.woff') format('woff');
}
