@import 'variables';
@import 'utils';
@import 'common';
@import 'animations';

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: color(black);
}

html,
body,
#__next {
  height: 100%;
}

#__next {
  display: flex;
  flex-flow: column;
}

body {
  overflow-x: hidden;
  font-size: 1.25em;
}

* {
  box-sizing: border-box;
}

/** FIXME: refactor this into separate file + self host fonts so we can pre-load them */
.pacifico {
  font-family: 'Pacifico', cursive;
}
