@import 'variables';
@import 'utils';
@import 'common';
@import 'animations';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: color(black);
}

html,
body,
#__next {
  height: 100%;
}

#__next {
  display: flex;
  flex-flow: column;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
