/** 
  * List of micro-classes (inspired from Tailwind CSS/TACHYONS) to allow small modifications 
  * without adding custom styles.
*/

/** Colors */
.text-red {
  color: color(red);
}

.text-silver {
  color: color(silver);
}

.text-white {
  color: color(white);
}

.text-black {
  color: color(black);
}

.text-grey {
  color: color(grey);
}

.text-green {
  color: color(green);
}

.text-blue {
  color: color(blue);
}

.text-orange {
  color: color(orange);
}

.bg-white {
  background: color(white);
}

.bg-black {
  background: color(black);
}

.bg-grey {
  background: color(grey);
}

/** Alignement */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/** Text */
.line-through {
  text-decoration: line-through;
}

.no-underline {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-xs {
  font-size: 0.75em;
}

.text-xl {
  font-size: 1.25em;
}

.text-2xl {
  font-size: 1.5em;
  line-height: 1.5em;
}

.font-light {
  font-weight: 300;
}

/** Sizes */
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.max-w-full {
  max-width: 100%;
}

.w-auto {
  width: auto;
}

.h-100 {
  height: 100%;
}

/** Display */
.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 0%;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

/** Margins */
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-2 {
  margin-top: 0.25em;
}

.mt-4 {
  margin-top: 1em;
}

.mt-8 {
  margin-top: 2em;
}

.mt-12 {
  margin-top: 3em;
}

.mt-16 {
  margin-top: 4em;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-2 {
  margin-bottom: 0.25em;
}

.mb-4 {
  margin-bottom: 1em;
}

.mb-8 {
  margin-bottom: 2em;
}

.mb-12 {
  margin-bottom: 3em;
}

.mr-1 {
  margin-right: 0.25em;
}

.ml-1 {
  margin-left: 0.25em;
}

.mr-2 {
  margin-right: 0.5em;
}

.ml-2 {
  margin-left: 0.5em;
}

.my-5 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.mr-10 {
  margin-right: 4em;
}

.ml-10 {
  margin-left: 4em;
}

.my-10 {
  margin-top: 4em;
  margin-bottom: 4em;
}

/** Borders */
.border-none {
  border-style: none;
}

.rounded-md {
  border-radius: 0.375em;
}

.border-bottom-1px {
  border-bottom: 1px solid currentColor;
}

.mx-4 {
  margin-left: 1em;
  margin-right: 1em;
}

.mx-5 {
  margin-left: 2em;
  margin-right: 2em;
}

.m-0 {
  margin: 0;
}

/** Positions */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear-both {
  clear: both;
}

/** Others */
.outline-none {
  outline: 0;
}

.invisible {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.pin-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}

/** Animations */

.rotate {
  animation: 0.5s rotateAnimation linear infinite;
}

/** Padding */

.py-1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.p-3 {
  padding: 0.75em;
}

.pt-5 {
  padding-top: 2em;
}

.pb-5 {
  padding-bottom: 2em;;
}

/** Gap */
.gap-x-4 {
  column-gap: 1em;
}
