@import '../../styles/variables';

.lesson-contributors {
    display: flex;
    flex-flow: row nowrap;

    li {
        position: relative;
        transition: transform ease-out 0.25s;

        &:hover {   
            transform: translateY(-0.5em);
            p {
                opacity: 1;
            }
        }
    }

    a {
        text-decoration: none;
    }
    
    img {
        border-radius: 50%;
        border: 2px solid color(black);
    }

     p {
         margin: 0;
         opacity: 0;
         position: absolute;
         width: 100%;
         transition: opacity ease-out 0.25s;
     }

     button {
         padding: 0;
         width: 48px;
         height: 48px;
         border-radius: 50%;
         min-width: initial;
         font-size: 1.25em;
     }
}