@import '../../styles/variables';

.teach {
  h1 {
    margin-top: 1em;
  }

  ul {
    list-style: none;
  }

  .cards-wrapper {
    margin-top: 2em;

    li {
      margin: 1em 0;
    }
  }

  .hidden {
    visibility: hidden;
  }
}

.no-results {
  margin: 5em 0 10em 0;
  font-size: 1.5em;
  color: color(grey);
}
