@import '../../../styles/variables';

.waitlist-confirmation {
  button {
    padding: 0.35em;
    font-size: 0.9em;
    transition: transform 0.25s $cubic;
  }

  p {
    font-size: 1em;
  }

  p::before,
  p::after {
    content: '';
    top: 50%;
    width: 40%;
    position: absolute;
    border-top: 1px solid color(silver);
  }

  p::before {
    left: 0;
  }

  p::after {
    right: 0;
  }
}
