@import '../../../styles/variables';

.exercises {
  padding: 0 0 1em 0;
  position: relative;

  & > section {
    @extend %containerConfig;
  }

  form {
    font-weight: bold;
  }
}

.spinner-wrapper {
  padding: 3em 0;
}

.exercises--empty,
.exercises--fetching {
  background: lighten(color(green), 25%);
}

.exercises-wrapper {
  display: flex;
  flex-flow: row wrap;
  
  > [class*='ExercisePreview'] {
    width: 45%;
    margin: 0 10% 2em 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 600px) {
  .exercises-wrapper {
    & > [class*=ExercisePreview] {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2em;
    }
  }
}
