.form-group {
  display: block;

  :global .label {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    width: 100%;
    display: block;
  }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: #39a1e6;
  }
}