.password-reveal {
    input{
        position: relative;
    }
    button{
        position: absolute;
        padding: 0.5rem;
        border: 0px;
        background-color: inherit;
        height: 32px;
        width:32px;
        align-items: center;
        right: 0px;
        cursor: pointer;
    }

}

.icon-eye::after{
    content: "\e903";
}
