---
layout: basic/content.hbs
---
<table>
  <tbody>
    <tr>
      <td>
        {{> greeting}}
        <p>
          Așa cum am promis, mai organizăm încă o dată trainingul
          <a href="">Git & GitHub pentru începători</a>, iar pentru
          că erai pe lista de așteptare ești printre primii ce primesc
          acest email.
        </p>
        <div class="call-to-action">
          <p>
            Dupa feedback-ul primului training am decis sa-l impartim
            pe doua weekend-uri, pentru a avea timp sa acoperim toate subiectele.
          </p>
          <ul>
            <li> Sambata 10 Aprilie: 10:00 - 15:00 </li>
            <li> Duminica 18 Aprilie: 10:00 - 15:00 </li>
          </ul>
          <p>
            De asemenea, am limitat numărul de locuri la 12 participanți pentru a avea timp pentru fiecare,
            deci înscrie-te "cât e cald":
          </p>
          <a href="https://FrontEnd.ro/evenimente/git-incepatori" class="btn btn--blue"> Înscrie-te </a>
        </div>
        {{> email_signature}}
        <p class="font-light">
          PS: Dacă ai orice nelămuriri sau vrei să ne scrii, dă reply la acest email și îți
          răspundem cu drag :D.
        </p>
      </td>
    </tr>
  </tbody>
</table>