@import '../../../styles/variables';

.file-switcher {
  position: relative;
  border: 1px solid color(silver);
  background: color(white);
  border-right: 0;
  color: color(black);
  flex-grow: 0;
  flex-shrink: 0;

  &.is--collapsed {
    width: 0 !important;
    border: 0;
    border-right: 1px solid color(silver);
    min-width: 0 !important;

    .toggle-button {
      display: block;
    }

    .controls {
      display: none;
    }

    [class*=h-resizable] {
      display: none;
    }
  }

  &.is--read-only {
    form {
      max-width: 100%;
    }

    .files li {
      padding-right: 0.5em;
    }
  }

  .toggle-button {
    display: none;
    border-radius: 50%;
    position: relative;
    width: 2em;
    height: 2em;
    padding: 0;
    z-index: 1;
    padding: 0.25em;
    transform: translate(-30%, -30%);
    box-shadow: 0 0 5px color(grey);
    background: color(darker-white);
  }

  .controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1.15em;
    padding: 0.15em 0 0.15em 0.25em;
    background: color(darker-white);
    border-bottom: 1px solid color(silver);

    button {
      padding: 0;
      margin-right: 0.75em;
    }
  }

  .scroll-wrapper {
    height: calc(100% - 2em);
  }

  form {
    flex: 1;
    pointer-events: none;
  }

  :global [class*='HResizable'] {
    top: 0;
    right: 0;
    position: absolute;
    color: color(silver);
    background: color(silver);
  }

  .dropdown-menu {
    position: absolute;
    padding: 0;
    list-style: none;
    z-index: 2;
    background: color(darker-white);
    border: 1px solid color(silver);
    box-shadow: 0 0 1px color(grey);
    margin: 0;
    text-align: center;

    li {
      &:hover {
        @extend %gradientBackground;
        @extend %blueGradientBackground;
      }

      button {
        color: inherit;
        display: flex;
        white-space: nowrap;
        padding: 0.5em 1em;
        width: 100%;
      }

      svg {
        margin-right: 1em;
      }
    }
  }
}
