@import '../../styles/variables';

.header {
  display: flex;
  height: $app-header-height;
  align-items: center;
  padding: 0 5vw;
  position: relative;
  justify-content: space-between;
  z-index: 11;
  background-color: color(darker-white);
  border-bottom: 1px solid color(silver);
}

.menu {
  display: flex;
  display: none;
  margin-left: 1em;
  margin-right: 0.5em;

  svg {
    width: 1.5em;
    margin-left: 0.5em;
  }
}

.logo {
  height: 100%;
  display: inline-block;
  position: relative;

  img {
    max-height: 100%;
  }
}

#menuOpenBtn {
  display: none;

  span {
    flex: 3;
  }

  .hamburger {
    flex: 1;
  }
}

.title {
  display: block;
  font-size: 3em;
  margin: 0.75em 0;
  text-decoration: none;
}
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);

  @extend %gradientBackground;
  @extend %blueGradientBackground;

  ul {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    li {
      font-size: 1.5em;
      width: 80%;
      text-align: left;
      margin: 0 1em 0 2em;
      padding: 1em 0 0.5em;
      border-bottom: 1px solid color(white);
    }

    a {
      text-decoration: none;
    }
  }
}

header.header-menu-open .mobile-menu {
  width: 100%;
  height: 100%;
  overflow: scroll;
  text-align: center;
}

.mobile-menu #menuCloseBtn {
  margin: 10vh 10% 2em 0;
  bottom: 1em;
  color: color(white);
  border: 1px solid color(white);
  background-color: transparent;
}

.demo-label {
  padding: 0.5em;
  border-radius: 0.5em;
  background: color(black);
}

.header-tooltip {
  display: inline-block;
  position: relative;
  z-index: 1;

  &.header-tooltip--no-scroll ul {
    position: absolute;
    right: 0;
    border: 1px solid color(silver);
    box-shadow: 0 0 1px color(grey);
    background-color: color(white);
  }

  ul {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid color(silver);

      &:last-of-type {
        border-bottom: 0;
      }

      &:hover {
        color: color(white);
      }
    }
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-left: 1em;

  svg {
    width: 1.25em;
    min-width: 1.25em;
    margin-left: 0.5em;
  }
}

.aside-menu {
  left: -100vw;
  width: 100vw !important;
}

.nav-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-height: 450px) {
  .header #menuCloseBtn {
    position: absolute;
    right: 0;
  }
}

@media screen and (max-height: 450px) {
  .nav-wrapper {
    position: static;
    display: flex;
    justify-content: center;
    transform: none;
  }
}
