@import '../../styles/variables';

.header {
  display: flex;
  height: $app-header-height;
  align-items: center;
  padding: 0.35em 5vw;
  position: relative;
  justify-content: space-between;
  z-index: 50;
}

.theme-light {
  background-color: color(darker-white);
  border-bottom: 1px solid color(silver);
}

.theme-dark {
  background-color: color(black);
}

.menu {
  display: flex;
  display: none;
  margin-left: 1em;
  margin-right: 0.5em;

  svg {
    width: 1.5em;
    margin-left: 0.5em;
  }
}

.logo {
  height: 100%;
  display: inline-block;
  position: relative;

  img {
    max-height: 100%;
  }
}

#menuOpenBtn {
  display: none;

  span {
    flex: 3;
  }

  .hamburger {
    flex: 1;
  }
}

.title {
  display: block;
  font-size: 3em;
  margin: 0.75em 0;
  text-decoration: none;
}

.demo-label {
  padding: 0.5em;
  border-radius: 0.5em;
  background: color(black);
}

.header-tooltip {
  display: inline-block;
  position: relative;
  z-index: 1;

  &.header-tooltip--no-scroll ul {
    position: absolute;
    right: 0;
    border: 1px solid color(silver);
    box-shadow: 0 0 1px color(grey);
    background-color: color(white);
  }

  ul {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid color(silver);

      &:last-of-type {
        border-bottom: 0;
      }

      &:hover {
        color: color(white);
      }
    }
  }
}

.aside-menu {
  left: -100vw;
  width: 100vw !important;
}

.nav-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-height: 450px) {
  .nav-wrapper {
    position: static;
    display: flex;
    justify-content: center;
    transform: none;
  }
}

@media screen and (max-width: 600px) {
  .logo img {
    border-radius: 50%;
  }
}

@media screen and (max-width: 500px) {
  .header .NotificationTooltip {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    top: $app-header-height;
  }
}

/** Nav Menu Btn */
.nav-menu {
  display: flex;
  font-size: 0.9em;
  padding: 0.25em 0.5em;

  svg {
    width: 1em;
    min-width: 1em;
  }
}

.theme-light .nav-menu {
  color: color(black);
  border: 1px solid color(silver);
  background-color: color(darker-white);
}

.theme-dark .nav-menu {
  color: color(darker-white);
  border: 1px solid color(grey);
}
