@import '../../styles/variables';

.header {
  // By using CSS Variables we can pretty much have any
  // variantion we want on the Header. This let's us easily
  // adapt to Monaco Themes when we're on the full-screen
  // editor experience.

  --text-color: var(--black);
  // Used for borders
  --accent-color: var(--silver);

  --background-color: var(--darker-white);

  // Used to highlight different elements.
  // For example, unread notifications. 
  --background-highlight: #ebebeb;

  display: flex;
  height: $app-header-height;
  align-items: center;
  padding: 0.35em 5vw;
  position: relative;
  justify-content: space-between;
  z-index: 50;
  color: var(--text-color);
  background-color: var(--background-color);
}

.theme-light {
  border-bottom: 1px solid var(--accent-color);
}

.theme-dark {
  --text-color: var(--darker-white);
  --accent-color: var(--grey);
  --background-color: var(--black);
  --background-highlight: #000;
}

.menu {
  display: flex;
  display: none;
  margin-left: 1em;
  margin-right: 0.5em;

  svg {
    width: 1.5em;
    margin-left: 0.5em;
  }
}

.logo {
  height: 100%;
  display: inline-block;
  position: relative;

  img {
    max-height: 100%;
  }
}

#menuOpenBtn {
  display: none;

  span {
    flex: 3;
  }

  .hamburger {
    flex: 1;
  }
}

.title {
  display: block;
  font-size: 3em;
  margin: 0.75em 0;
  text-decoration: none;
}

.demo-label {
  padding: 0.5em;
  border-radius: 0.5em;
  background: var(--background-highlight);
}

.aside-menu {
  left: -100vw;
  width: 100vw !important;
}

.nav-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-height: 450px) {
  .nav-wrapper {
    position: static;
    display: flex;
    justify-content: center;
    transform: none;
  }
}

@media screen and (max-width: 600px) {
  .logo img {
    border-radius: 50%;
  }
}

@media screen and (max-width: 500px) {
  .header .NotificationTooltip {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    top: $app-header-height;
  }
}

/** Nav Menu Btn */
.nav-menu {
  display: flex;
  font-size: 0.9em;
  padding: 0.25em 0.5em;
  border: 1px solid var(--accent-color);

  svg {
    width: 1em;
    min-width: 1em;
  }
}
