@import '../../../styles/variables';

.how-to-resolve-feedback-banner {
  padding: 0.5em 1em;
  border-bottom: 1px solid color(silver);

  @extend %gradientBackground;
  @extend %whiteGradientBackground;

  ol {
    margin-top: 1em;
    margin-left: 3em;

    li {
      margin-bottom: 0.25em;
    }
  }
}