@import '../../styles/variables';

.search {
  width: 100%;

  input {
    flex: 1;
    border-radius: 5px;
    border: 1px solid color(silver);
    padding: 0.5em;
    font-size: 1em;
    outline: 0;
    font-family: $monospace;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    &::-moz-focus-inner {
      border: 0;
    }
  }

  button {
    padding: 0.45em 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    svg {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    button {
      min-width: auto;
      padding: 0.45em 1em;

      svg {
        display: initial;
      }

      span {
        display: none;
      }
    }
  }
}
