@import '../../../styles/variables';

.no-submissions-yet {
  flex: 1;

  & > div {
    @extend %containerConfig;
  }

  h1 {
    margin-top: 1.5em;
  }

  h2 {
    font-weight: normal;
  }

  button {
    display: flex;
    font-size: 1em;
    padding: 0.5em;
    cursor: pointer;
    text-decoration: none;

    border-radius: 0.5em;
    border: 1px solid color(silver);
    transition: transform 0.5s $cubic;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.help-wrapper {
  margin-top: 5em;

  @media screen and (max-width: 950px) {
    flex-flow: column;

    button {
      width: 20em;
      margin: 1em auto;
      padding-left: 2em;

      svg {
        margin-right: 2em;
      }
    }
  }
}

.help-explanation {
  padding: 1em;
  margin: 3em 0;
  border-radius: 0.5em;
  border: 1px solid color(silver);
}
