@import '../../../styles/variables';


.landing-hero {
  min-height: 100vh;
  flex-flow: column nowrap;
  background: color(darker-white);

  aside {
    left: -100vw;
    width: 100vw;
  }

  .call-to-action {
    z-index: 2;
    padding: 8vh 10vw 0 10vw;
  }

  h1 {
    margin: 0;
    font-size: calc(2em + 2vw);
    display: inline-block;
  }

  h2 {
    font-weight: normal;
    font-size: calc(1em + 1vw);

    span {
      display: block;
    }
  }

  .action-button {
    padding: 0.5em 1em;
    min-height: initial;
    text-decoration: none;
    display: inline-block;
    margin: 1.5em 1em 0 0;
    font-size: calc(0.65em + 1vw);
  }

  @media screen and (max-width: 515px) {
    h2 span {
      display: inline;
    }

    .action-button {
      display: block;
    }
  }
}

.menu-btn {
  top: 2em;
  right: 2em;
  z-index: 3;
  display: flex;
  position: absolute;

  svg {
    width: 1em;
    margin-left: 0.5em;
  }
}

.nav-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 515px) {
  .menu-btn {
    top: 1em;
    right: 1em;

    span {
      display: none;
    }
    svg {
      margin: 0;
    }
  }
}

@media screen and (max-height: 450px) {
  .nav-wrapper {
    position: static;
    display: flex;
    justify-content: center;
    transform: none;  
  }
}
