@import '../../../styles/variables';

.LandingHero {
  min-height: calc(100vh);
  flex-flow: column nowrap;
  background: color(darker-white);

  &.isLoggedIn {
    min-height: calc(100vh - #{$app-header-height});
  }

  aside {
    left: -100vw;
    width: 100vw;
  }

  .call-to-action {
    z-index: 2;
    padding: 8vh 10vw 0 10vw;
  }

  .description {
    font-weight: normal;
    font-size: calc(1em + 1vw);
  }

  .action-button {
    padding: 0.5em 1em;
    font-size: calc(0.65em + 1vw);
  }
}

.menu-btn {
  top: 2em;
  right: 2em;
  z-index: 3;

  svg {
    width: 1em;
    margin-left: 0.5em;
  }
}

.nav-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-height: 500px) {
  .LandingHero,
  .LandingHero.isLoggedIn {
    height: auto;
    display: block;
    min-height: auto;
  }
}

@media screen and (max-width: 515px) {
  .description span {
    display: inline;
  }

  .action-button {
    display: block;
  }

  .menu-btn {
    top: 1em;
    right: 1em;

    span {
      display: none;
    }
    svg {
      margin: 0;
    }
  }
}

@media screen and (max-height: 450px) {
  .nav-wrapper {
    position: static;
    display: flex;
    justify-content: center;
    transform: none;  
  }
}
