@import '../../../styles/variables';

.change-avatar {
  img {
    height: 14em;
  }

  label {
    max-width: 80%;
    margin: 0 auto;
    cursor: pointer;
  }

  label:hover .overlay {
    transform: scale(1);
  }

  .overlay,
  .spinner-overlay {
    transform: scale(0);
    border-radius: 50%;
    transition: transform 0.5s $cubic;
    background: rgba(color(black), 0.5);
  }

  .spinner-overlay {
    transform: scale(1);
  }

  .controls {
    margin-top: 2em;
  }
}

.change-avatar--new {
  padding: 1em;
  border: 2px dashed color(silver);

  img {
    height: auto;
  }
}
