@import '../../styles/variables';

.tableOfContents {
  li {
    position: relative;
    padding-left: 2.5em;
    margin: 2em 0;

    &.is--main-chapter::after,
    &.with--subchapters::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0.8em;
      background-color: #77838b;
      width: 0.13em;
      height: 100%;
      margin-top: 1.8em;
    }

    & li::before {
      content: '';
      position: absolute;
      right: calc(100% + 0.25em);
      bottom: calc(100% - 0.8em);
      background-color: #77838b;
      width: 1.4em;
      height: 0.13em;
      margin-top: 1.8em;
    }

    &:not([class*='with--subchapters']):last-of-type::after {
      height: 0;
    }

    a {
      text-decoration: none;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 1em;
        height: 1em;
        border-radius: 100%;
        border: 2px solid color(grey);
        background-clip: content-box;
        padding: 0.2em;
      }

      &.active,
      &:hover {
        color: color(green);
        &::before {
          background-color: color(green);
          transition: background-color 0.3s ease-in;
        }
      }
    }
  }
}
