@import '../../../styles/variables';

.resizable {
  z-index: 1;
}

.h-resizable {
  cursor: ew-resize;
  width: 3px;
  height: 100%;

  &:hover {
    transform-origin: center;
    transform: scaleX(2);
  }
}

.v-resizable {
  cursor: ns-resize;
  height: 1px;
  width: 100%;
}
