@import "variables";
@import "utils";
@import "common";
@import "animations";

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    color: color(black);
}

html,
body,
#__next {
    height: 100%;
}

body {
    font-size: 1.25em;
}

* {
    box-sizing: border-box;
}
