@import "variables";
@import "utils";
@import "buttons";

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    color: color(black);
}

html,
body,
#__next {
    height: 100%;
}

* {
    box-sizing: border-box;
}
