/** 
  * List of micro-classes (inspired from Tailwind CSS/TACHYONS) to allow small modifications 
  * without adding custom styles.
*/

/** Colors */
.text-red {
  color: color(red);
}

.text-silver {
  color: color(silver);
}

.text-white {
  color: color(white);
}

.text-black {
  color: color(black);
}

.bg-black {
  background: color(black);
}

/** Alignement */
.text-center {
  text-align: center;
}

/** Text */
.line-through {
  text-decoration: line-through;
}
.no-underline {
  text-decoration: none;
}
.hover\:underline:hover {
  text-decoration: underline;
}
.text-bold {
  font-weight: bold;
}

/** Sizes */
.h-100 {
  height: 100%;
}

/** Display */
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/** Margins */
.mr-1 {
  margin-right: 0.25em;
}

.mr-2 {
  margin-right: 0.5em;
}

.my-5 {
  margin-top: 2em;
  margin-bottom: 2em;
}

/** Others */
.outline-none {
  outline: 0;
}
