/** 
  * List of micro-classes (inspired from Tailwind CSS/TACHYONS) to allow small modifications 
  * without adding custom styles.
*/

/** Colors */
.text-red {
  color: color(red);
}

.text-silver {
  color: color(silver);
}

.text-white {
  color: color(white);
}

.text-black {
  color: color(black);
}

.text-grey {
  color: color(grey);
}

.text-green {
  color: color(green);
}

.bg-white {
  background: color(white);
}

.bg-black {
  background: color(black);
}

.bg-grey {
  background: color(grey);
}

/** Alignement */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/** Text */
.line-through {
  text-decoration: line-through;
}

.no-underline {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-xs {
  font-size: 0.75em;
}

/** Sizes */
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/** Display */
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/** Margins */
.m-0 {
  margin: 0;
}

.mb-4 {
  margin-bottom: 1em;
}

.mr-1 {
  margin-right: 0.25em;
}

.ml-1 {
  margin-left: 0.25em;
}

.mr-2 {
  margin-right: 0.5em;
}

.ml-2 {
  margin-left: 0.5em;
}

.my-5 {
  margin-top: 2em;
  margin-bottom: 2em;
}


/** Borders */
.border-none {
  border-style: none;
}

.rounded-md {
  border-radius: 0.375em;
}

.mx-5 {
  margin-left: 2em;
  margin-right: 2em;
}

.m-0 {
  margin: 0;
}

/** Positions */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/** Others */
.outline-none {
  outline: 0;
}

.invisible {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

/** Animations */

.rotate {
  animation: 0.5s rotateAnimation linear infinite;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
