@import '../../styles/variables';
@import './BlogArticlePreview/BlogArticlePreview.module.scss';

.blog {
  padding-top: 1em;
}

.articles {
  margin-top: 5em;
  margin-bottom: 5em;
}

.subscribe-form {
  margin-top: 12em;
  margin-bottom: 2em;
}

@media screen and (max-width: 650px) {
  .article-preview {
    @include BlogArticlePreview-column;
  }
}