@import '../../../styles/variables';

@mixin BlogArticlePreview-row {
  article {
    flex-direction: row;
  }

  [class*='cover-wrapper'] {
    width: 37%;
  }

  [class*='content-wrapper'] {
    width: 60%;
  }

  [class*='title'] {
    margin-top: 0;
  }
}

@mixin BlogArticlePreview-column {
  article {
    flex-direction: column;
  }

  [class*='cover-wrapper'],
  [class*='content-wrapper'] {
    width: 100%;
  }

  [class*='title'] {
    margin-top: 0.75em;
  }
}

.BlogArticlePreview {
  align-items: stretch;

  &:hover .cover {
    transform: scale(1.05);
  }
}

.row {
  @include BlogArticlePreview-row;
}

.column {
  @include BlogArticlePreview-column;
}

.cover {
  transition: transform 0.5s $cubic;
}

.title {
  font-size: 1.5em;
}

.date {
  font-family: $monospace;
}

.read-more svg {
  height: 0.85em;
}
