@import '../../styles/variables';

.chapter-nav {
  overflow: auto;
}

.ProgressLink--locked {
  opacity: 0.5;
}

.ProgressLink--locked:hover,
.ProgressLink--active {
  opacity: 1;
}

.CertificationLink {
  .ProgressLink {
    z-index: 1;
  }

  canvas {
    pointer-events: none;
  }
}
