@import '../../../styles/variables';

.checkbox-wrapper {
  cursor: pointer;
}

.checkbox {
  color: color(green);
  display: inline-block;

  input {
    opacity: 0;
    z-index: -1;

    &:checked + * {
      border-color: currentColor;

      &::after {
        height: 1em * 0.5;
        animation: dothabottomcheck 0.2s ease 0s forwards;
      }

      &::before {
        height: 1em * 1.2;
        box-shadow: 0 0 0 2px color(white);
        animation: dothatopcheck 0.4s ease 0s forwards;
      }
    }
  }
}

.control-indicator {
  width: 1em;
  height: 1em;
  border-radius: 5px;
  position: relative;
  margin-right: 0.5em;
  background-color: transparent;
  border: 2px solid color(silver);
  transition: border-color ease 0.2s;

  &::before,
  &::after {
    position: absolute;
    height: 0;
    width: 0.2em;
    background-color: currentColor;
    display: inline-block;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    transition: opacity ease 0.5;
  }

  &::before {
    top: 0.7em;
    left: 0.4em;
    transform: rotate(-135deg);
  }

  &::after {
    top: 1em * 0.37;
    left: 1em * 0.05;
    transform: rotate(-45deg);
  }
}

@keyframes dothatopcheck {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: 1em * 1.2;
  }
}

@keyframes dothabottomcheck {
  0% {
    height: 0;
  }

  100% {
    height: 1em/2;
  }
}
