@import "../../../styles/variables";

.contained {
  @extend %gradientBackground;
  transition: background 0.5s;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  color: color(white);
  text-decoration: none;

  &:hover {
    background-position: right center;
  }

  &:active {
    background-position: left center;
  }

  // Colors
  &.inherit {
    color: inherit;
    border: 1px solid currentColor;
  }

  &.white {
    border: 1px solid color(black);
    @extend %whiteGradientBackground;
  }

  &.black {
    border: 1px solid color(black);
    @extend %blackGradientBackground;
  }

  &.green {
    @extend %greenGradientBackground;
  }

  &.blue {
    @extend %blueGradientBackground;
  }

  &.red {
    @extend %redGradientBackground;
  }

  &.yellow {
    @extend %yellowGradientBackground;
  }

  &.grey {
    @extend %greyGradientBackground;
  }
}

.text {
  // Colors
  &.inherit {
    color: inherit;
  }

  &.white {
    color: color(white);
  }

  &.black {
    color: color(black);
  }

  &.green {
    color: color(green);
  }

  &.blue {
    color: color(blue);
  }

  &.red {
    color: color(red);
  }

  &.yellow {
    color: color(yellow);
  }

  &.grey {
    color: color(grey);
  }
}

.duo-tone {
  padding: 0.5em 0.75em;
  text-decoration: none;
  border-left: 5px solid transparent;

  &.inherit {
    --border-color: currentColor;
    background: rgba(color(white), 0.1);
  }

  // Colors
  &.white {
    --border-color: var(--white);
    background: rgba(color(white), 0.1);
  }

  &.black {
    --border-color: var(--black);
    background: rgba(color(black), 0.1);
  }

  &.green {
    --border-color: var(--green);
    background: rgba(color(green), 0.1);
  }

  &.blue {
    --border-color: var(--blue);
    background: rgba(color(blue), 0.1);
  }

  &.red {
    --border-color: var(--red);
    background: rgba(color(red), 0.1);
  }

  &.yellow {
    --border-color: var(--yellow);
    background: rgba(color(yellow), 0.1);
  }

  &.grey {
    --border-color: var(--grey);
    background: rgba(color(grey), 0.1);
  }

  &:hover,
  &.active {
    border-color: var(--border-color);
  }
}
