---
layout: basic/content.hbs
---
<table>
  <tbody>
    <tr>
      <td>
        {{> greeting}}
        <p>
          Ne bucurăm să te avem alături! Sperăm ca împreună să construim cea mai bună
          platformă de învățat FrontEnd din România :)
        </p>
        
        <div class="call-to-action">
          <p>
            Dacă <strong>vrei să înveți</strong>, lecțiile noastre 
            sunt gratuite iar la final vei găsi o serie de exerciții pentru a pune în
            practică ce tocmai ai învățat.
          </p>
          <a href="https://FrontEnd.ro/lectii" class="btn btn--blue"> Începe să înveți </a>
        </div>
        <p> 
          Dacă <strong>ești deja FrontEnd developer</strong>, atunci ajută-ne să contruim această
          platformă împreună. Codul e
          <a href="https://github.com/FrontEnd-ro/frontend.ro">open-source pe GitHub</a>
          și acceptăm cu mare drag contribuții.
        </p>
        {{> email_signature}}
        <p class="font-light">PS: orice feedback este binevenit, deci nu ezita să ne scrii!</p>
      </td>
    </tr>
  </tbody>
</table>