@import '../../styles/variables';

.learn {
  position: relative;

  h1 {
    @extend %containerConfig;
    margin-bottom: 2em;
    margin-top: 1em;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 1em;

    span {
      padding-right: 1em;
      border-bottom: 1px solid color(silver);
    }

    &::before {
      content: '#';
      top: 0.15em;
      font-size: 1.5em;
      position: relative;
      display: inline-block;
      color: color(blue);
      margin-right: 0.25em;
    }
  }

  section > h2,
  section > ol {
    z-index: 1;
    @extend %containerConfig;
  }

  [class*='CoverIllustration'] {
    display: none;
  }

  section {
    margin-bottom: 5em;

    ol {
      flex-flow: row wrap;

      & > li {
        margin-bottom: 2em;

        & > a {
          width: 100%;
          height: 100%;
        }
      }
    }

    @media screen and (min-width: 1600px) {
      &:nth-child(2n) > h2,
      &:nth-child(2n) > ol {
        position: relative;
        left: 18vw;
      }

      &:nth-child(2n + 1) > h2,
      &:nth-child(2n + 1) > ol {
        position: relative;
        right: 18vw;
      }

      [class*='CoverIllustration'] {
        display: block;
      }

      [class*='LessonPreview'] {
        [class*='cover'] {
          display: none;
        }

        h3 {
          margin-top: 0;
        }
      }
    }

    @media screen and (min-width: 1001px) {
      ol > li {
        width: 30%;

        &:nth-child(3n + 1),
        &:nth-child(3n + 2) {
          margin-right: 5%;
        }
      }
    }

    @media screen and (max-width: 1000px) and (min-width: 601px) {
      ol > li {
        width: 45%;

        &:nth-child(2n + 1) {
          margin-right: 10%;
        }
      }
    }

    @media screen and (max-width: 600px) {
      ol > li {
        width: 100%;
      }
    }
  }
}
