@import '../../styles/variables';

.form {
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='tel'],
  textarea {
    outline: 0;
    width: 100%;
    padding: 0.5em;
    font-size: 0.85em;
    border-radius: 4px;
    border: 1px solid color(silver);
    font-family: Courier New, Courier, monospace;
  }
}
