@import '../../../styles/variables';

.Notification {
  padding: 0.5em 1em;

  &:hover {
    @extend %gradientBackground;
    @extend %blueGradientBackground;
  }
}

.image {
  margin-right: 0.8em;
}

.user {
  margin-right: 0.4em;
  border-bottom: 1px solid color(silver);
}
