@import '../../../styles/variables';

.landing-hero {
  min-height: 100vh;
  flex-flow: column nowrap;
  background: color(darker-white);

  :global .call-to-action {
    z-index: 2;
    padding: 8vh 10vw 0 10vw;
  }

  h1 {
    margin: 0;
    font-size: calc(2em + 2vw);
    display: inline-block;
  }

  h2 {
    font-weight: normal;
    font-size: calc(1em + 1vw);

    span {
      display: block;
    }
  }

  button {
    padding: 0.5em 1em;
    min-height: initial;
    text-decoration: none;
    margin: 1.5em 1em 0 0;
    font-size: calc(0.65em + 1vw);
  }

  @media screen and (max-width: 515px) {
    h2 span {
      display: inline;
    }

    button {
      display: block;
    }
  }
}
