@import '../../../styles/variables';

.lesson-quote {
  display: block;
  font-size: 1.5em;
  font-style: italic;
  position: relative;
  line-height: 1.75em;
  padding: 0.5em 0 0.5em 1em;

  /** Default blockquote is on the side */
  &:before {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 6px;
    position: absolute;
    background-color: color(blue);
  }
}

.lesson-quote--centered {
  padding: 0;
  margin: 2em 0;
  font-size: 2em;
  text-align: center;
  
  &:before,
  &:after {
    content: '"';
    font-size: 50px;
    background: none;
    position: static;
  }
}