@import '../../../styles/variables';
@import '../../../styles/animations';

.card {
  padding: 0.8em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s $cubic;

  &:hover {
    transform: scale(1.02);
  }

  .card-info {
    width: 15em;
  }

  .card-link {
    img {
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 0.5em;
    }
  }

  .card-el {
    border: none;
    padding: 0.4em 0;
  }

  .card-chapter {
    min-width: 6em;
  }

  .card-status-assigned {
    min-width: 10em;
    @extend %gradientBackground, %greenGradientBackground;
  }

  .card-status-pending {
    min-width: 10em;
    text-align-last: center;
    @extend %gradientBackground, %yellowGradientBackground;
  }

  time {
    margin-top: 1em;
    letter-spacing: 0.01em;
  }
}

.skeleton {
  background: color(silver);
  animation: skeletonOpacity 2.5s linear infinite;

  .card-link {
    width: 6em;

    span {
      padding: 0.75em 1.5em;
    }

    div {
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
    }
  }

  .card-el {
    padding: 1em;
  }

  .card-status-assigned {
    background-image: none;
  }

  time {
    padding: 0.1em 7em;
  }
}

@media screen and (max-width: 520px) {
  .card {
    text-align: center;

    .card-top,
    .card-info {
      flex-direction: column;
    }

    .card-chapter {
      margin: 0.5em 0;
    }
  }
}
