<tr class="address_footer">
  <style>
    .address_footer>td {
      padding-top: 3em;
    }
  </style>
  <td align="center">
    <a class="text-center" href="https://FrontEnd.ro">
      <!-- Remove 'alt' attribute. Otherwise it will be in the GMail preview -->
      <img src="https://d3tycb976jpudc.cloudfront.net/public/logo.png" height="40" alt="" />
    </a>
    <p class="text-center font-light">
      Un proiect open-source, <br /> creat cu ♥️ din Iași, România
    </p>
    <!-- FULL ADDRESS? -->
    <!-- UNSUBSCRIBE LINK? -->
  </td>
</tr>