<table>
  <style>
    .schmoes img {
      width: 170%;
    }

    .schmoe9 img {
      opacity: 0;
    }
  </style>
  <tr class="schmoes">

    <td class="schmoe1">
      <img src="https://d3tycb976jpudc.cloudfront.net/schmoes/pngs/jeri.png" />
    </td>
    <td class="schmoe2">
      <img src="https://d3tycb976jpudc.cloudfront.net/schmoes/pngs/joe.png" />
    </td>
    <td class="schmoe3">
      <img src="https://d3tycb976jpudc.cloudfront.net/schmoes/pngs/jazebelle.png" />
    </td>
    <td class="schmoe4">
      <img src="https://d3tycb976jpudc.cloudfront.net/schmoes/pngs/jude.png" />
    </td>
    <td class="schmoe5">
      <img src="https://d3tycb976jpudc.cloudfront.net/schmoes/pngs/jon.png" />
    </td>
    <td class="schmoe6">
      <img src="https://d3tycb976jpudc.cloudfront.net/schmoes/pngs/jodi.png" />
    </td>
    <td class="schmoe7">
      <img src="https://d3tycb976jpudc.cloudfront.net/schmoes/pngs/adam.png" />
    </td>
    <td class="schmoe8">
      <img src="https://d3tycb976jpudc.cloudfront.net/schmoes/pngs/jaqueline.png" />
    </td>
    <td class="schmoe9">
      <img src="https://d3tycb976jpudc.cloudfront.net/schmoes/pngs/jacques.png" />
    </td>
  </tr>
</table>