@import '../styles/variables';

.chapter-nav {
  overflow: auto;
}

.exercises {
  @extend %containerConfig;
}

.TutorialChapterLink--locked {
  opacity: 0.5;
}

.TutorialChapterLink--locked:hover,
.TutorialChapterLink--active {
  opacity: 1;
}
