.cover-illustration {
  height: 20vmax;
  max-height: 100%;
  top: 0;
  left: 2em;
  right: 2em;
  margin-top: 4em;
  pointer-events: none;
  background-size: contain;
  background-repeat: no-repeat;
}
