@import '../../../styles/variables';

.notification {
  line-height: 2em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--accent-color);

  &:first-of-type {
    border-top-width: 1px;
    border-top-style: solid;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  :global .body {
    white-space: initial;
  }

  &.is--unread {
    background: var(--background-highlight);
  }
}
