@import '../../styles/variables';


.bodyMarkdown {
  border: 0;
  margin: 4em 0;
  padding: 0 0 0.5em 1em;
  background: transparent;
  border-left: 2px solid color(silver);
}


.skeleton-h1 {
  font-size: 2em;
  margin-bottom: 0;
}

.skeleton-editor {
  margin-top: 3em;
  margin-bottom: 7em;
}
