@import '../../../styles/variables';

.IDEPanel {
  --text-color: var(--silver);
  --background-highlight: var(--darker-white);
  
  padding: 1em 0.5em;
  color: var(--text-color);
  background: var(--background-color);
  border: 1px solid rgb(52, 52, 52);
}


.vertical {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.Button {
  width: 2em;
  padding: 0.5em;
  color: inherit;

  &:hover,
  &.active {
    background: var(--background-highlight);
  }
}
