@import '../../styles/variables';

.audio-player {
  @extend %gradientBackground, %blueGradientBackground;
  
  max-width: 18em;
  border-radius: 0.75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 1em;
  box-shadow: 0 0 0.5em color(black);

  button {
    width: 4em;
    height: 4em;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px color(black);
  }

  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 5em);
  }
}

.stop-button {
  opacity: 0;
  margin-right: 1em;
  pointer-events: none;
  transition: all 0.25s $cubic;
  transform: translateX(-5em) scale(0.75);
}

.stop-button--visible {
  opacity: 1;
  pointer-events: initial;
  transform: translateX(0em) scale(0.75);
}
