@import '../../styles/variables';

.banner {
  padding: 1em;
  margin: 0 0 2em 0;
  @extend %gradientBackground;
}

.banner-in_progress {
  @extend %yellowGradientBackground;
}

.banner-done {
  @extend %greenGradientBackground;
}

.SubmissionPreview {
  left: #{$aside-menu-width};

  @media screen and (max-width: 1400px) {
    left: 0;
  }
}
