@import '../../styles/variables';

.nav-links {
  font-size: 2em;
  ol {
    list-style: none;
  }

  li {
    margin: 1em 0;
  }

  a, button {
    text-decoration: none;
    color: color(white);
    position: relative;
    padding: 0;

    &.highlighted {
      border-bottom: 3px dashed color(green);

      &:hover {
        border-bottom-style: solid;
      }
    }

    &::after {
      content: '';
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid color(silver);
      transform: scale(0);
      transform-origin: bottom left;
      transition: transform 0.2s $cubic;
    }

    &:not(.highlighted):hover::after {
      transform: scale(1);
    }
  }

  .login {
    margin-top: 2em;
  }
}
