@import '../../../styles/variables';

.login-buttons {
  button {
    padding: 0.35em;
    transition: transform 0.25s $cubic;
  }

  .separator {
    font-size: 0.8em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.register-mode {
  .login-button {
    transform: translateY(5em);
  }

  .register-button {
    transform: translateY(-5em);
  }
}
