@import '../../styles/variables';

.lesson {
  display: flex;
  flex-flow: row nowrap;

  blockquote {
    display: block;
    font-size: 1.5em;
    line-height: 1.75em;
    position: relative;
    padding: 0.5em 0 0.5em 1em;
    font-style: italic;
    margin: 1em 0;

    /** Default blockquote is on the side */
    &:before {
      content: '';
      background-color: color(blue);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 6px;
    }

    &.is--center {
      text-align: center;
      margin: 2em 0;
      font-size: 2em;
      padding: 0;

      &:before,
      &:after {
        content: '"';
        font-size: 50px;
        background: none;
        position: static;
      }
    }
  }

  main {
    position: relative;
    left: #{$lesson-menu-width};
    width: calc(100% - #{$lesson-menu-width});

    > header {
      position: sticky;
      top: 0;
      z-index: 998;
    }
  }

  article {
    @extend %containerConfig;
    position: relative;

    h1 {
      font-size: 2.25em;
    }

    h2 {
      font-size: 1.5em;
    }
  }

  .exercises {
    @extend %containerConfig;
  }

  [class*='LessonContributors'] {
    right: 0;
    top: 0.75em;
  }

  @media screen and (max-width: 1400px) {
    aside {
      left: -#{$lesson-menu-width};
    }

    :global .lesson-menu__header button,
    :global .header__menu-btn {
      display: block;
    }
    :global .lesson-menu__header button {
      width: 2.5em;
      color: white;
      background: transparent;
    }

    main {
      left: 0;
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    aside {
      left: -100%;
      width: 100%;
    }
  }

  @media screen and (max-width: 400px) {
   h1 {
     margin-bottom: 2em;
   }

   [class*='LessonContributors'] {
     position: relative;
     float: right;
     top: -4em;
   }
  }


}

.article-wrapper {
  overflow: auto;
  height: calc(100vh - #{$app-header-height});
}
