@import '../../styles/variables';

.lesson {
  display: flex;
  flex-flow: row nowrap;

  main {
    position: relative;
    left: #{$aside-menu-width};
    width: calc(100% - #{$aside-menu-width});

    > header {
      position: sticky;
      top: 0;
      z-index: 998;
    }
  }

  article {
    @extend %containerConfig;
    position: relative;

    h1 {
      font-size: 2.25em;
    }

    h2 {
      font-size: 1.5em;
    }
  }

  .exercises {
    @extend %containerConfig;
  }

  [class*='LessonContributors'] {
    right: 0;
    top: 0.75em;
  }

  @media screen and (max-width: 1400px) {
    .lesson-menu {
      left: -#{$aside-menu-width};
    }

    :global .lesson-menu__header button,
    :global .header__menu-btn {
      display: block;
    }
    :global .lesson-menu__header button {
      width: 2.5em;
      color: white;
      background: transparent;
    }

    main {
      left: 0;
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .lesson-menu {
      left: -100%;
      width: 100%;
    }
  }

  @media screen and (max-width: 400px) {
   h1 {
     margin-bottom: 2em;
   }

   [class*='LessonContributors'] {
     position: relative;
     float: right;
     top: -4em;
   }
  }


}

.article-wrapper {
  overflow: auto;
  height: calc(100vh - #{$app-header-height});
}
