@import ".././../../styles/variables";

.file {
  padding: 0.25em;
  flex-flow: row nowrap;
  font-family: $monospace;
  color: var(--text-color);

  &.is--ctx-selected {
    background: color(darker-white);
  }

  &:hover,
  &.is--selected {
    background: var(--accent-color-2);
  }

  &.is--renamed {
    border: 1px solid var(--text-color);
  }
}

.input {
  border: 0;
  color: inherit;
  font-size: 1em;
  background: none;
  font-family: inherit;
  text-overflow: ellipsis;

  &[disabled] {
    pointer-events: none;
  }

  &:not([disabled]) {
    cursor: text;
  }
}
