@import '../../styles/variables';

.login-form {
  transition: all 0.25s $cubic;
  background-color: white;
  padding: 1em;
  border: 1px solid silver;
  border-radius: 5px;
  color: black;
  width: 20em;
}

.server-error {
  font-size: 0.85em;
}
