.password-reveal {
  input {
    padding-right: 2.5em !important;
  }

  button {
    padding: 0.5em;
    border: 0;
    height: 32px;
    width: 32px;
    top: 0.25em;
    align-items: center;
    right: 0;
    cursor: pointer;
    background-color: inherit;
  }
}
