@import "../../styles/variables";

.TutorialChapterLink {
  border: 1px solid color(silver);

  &.show-chapters .link {
    padding-bottom: 0;
  }
}

.link {
  padding: 1em 0.5em;

  &.active::after,
  &:hover::after {
    content: "";
    background: color(green);
    position: absolute;
    top: -2em;
    right: -5em;
    height: 4em;
    width: 10em;
    transform: rotate(41deg);
    pointer-events: none;
  }

  &.bottom-right.active::after,
  &.bottom-right:hover::after {
    top: initial;
    bottom: -2em;
    transform: rotate(-41deg);
  }
}

.progress-wrapper {
  min-width: 2em;
  margin-right: 0.75em;
}

.check-icon {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 1.2em;
}

.chapters {
  margin-left: 0.75em;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0.75em;
    height: 1.75em;
    bottom: calc(100% + 0.25em);
    border-left: 0.13em solid #77838b;
  }
}
