@import '../../../styles/variables';

.page-with-aside-menu {
  & > main {
    position: relative;
    left: #{$aside-menu-width};
    width: calc(100% - #{$aside-menu-width});

    > header {
      position: sticky;
      top: 0;
      z-index: 998;
    }
  }


  [class*=feedback-tooltip] {
    top: 3.3em;
    left: #{$aside-menu-width};
  }

  @media screen and (max-width: 1400px) {
    .aside-menu {
      left: -#{$aside-menu-width};
    }

    :global .lesson-menu__header button,
    :global .header__menu-btn {
      display: block;
    }

    

    main {
      left: 0;
      width: 100%;

      header [class*=logo] {
        display: none;
      }
    }

    [class*=feedback-tooltip] {
      left: 0;
      top: 3.3em;
    }
  }

  @media screen and (max-width: 600px) {
    .aside-menu {
      left: -100%;
      width: 100%;
    }
  }
}
