@import "../../../styles/variables";

.aside-menu {
  @extend %mini-scrollbar;

  z-index: 999;
  height: 100%;
  position: fixed;
  top: 0;
  overflow: auto;
  width: $aside-menu-width;
  padding: 1em 0.5em 0 0.5em;
  transition: transform 0.25s ease-out;
  
  > header {
    width: 100%;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  
    h2 {
      margin: 0;
    }
  }
}

.aside-menu--open {
  transform: translateX(100%);
}