@import "../../../styles/variables";

.aside-menu {
  z-index: 999;
  height: 100%;
  position: fixed;
  overflow: auto;
  width: $aside-menu-width;
  padding: 1em 0.5em 0 0.5em;
  transition: transform 0.25s ease-out;
  
  > header {
    margin-bottom: 2em;
  
    h2 {
      margin: 0;
    }
  
    button {
      width: 1.25em;
    }
  }
}

.aside-menu--open {
  transform: translateX(100%);
}