@import '../../../styles/variables';

.landing-subscribe {
  padding: 0.5em 0 2em 0;

  & > section {
    margin: 0 auto;
    width: $width;
    background: color(white);
    max-width: $max-width;
  }
  
  h2 {
    font-size: calc(1.5em + 1vw);
  }

  p {
    text-align: left;
  }

  form {
    text-align: left;
    display: inline-block;

    & > label {
      display: block;
      margin-bottom: 1em;
    }

    & > div {
      align-items: flex-end;
    }

    p {
      font-weight: lighter;
    }

    input {
      font-size: 1em;
      border-radius: 5px;
      padding: 0.5em 1em;
    }

    button {
      padding: 0.45em 0.5em 0.5em 0.5em;
    }
  }
}
