.exercises-wrapper {
  display: flex;
  margin-top: 3em;
  flex-flow: row wrap;

  & > [class*=ExercisePreview] {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 2em;
  }


  @media screen and (max-width: 1000px) {
    & > [class*=ExercisePreview] {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2em;
    }
  }
}