---
layout: basic/content.hbs
---
<table>
  <tbody>
    <tr>
      <td>
        <div class="christmas-font">
          {{> greeting}}
        </div>
        <p>
          Sper că ai o zi cât mai faină alături de cei dragi!
        </p>

        <p>
          Nu-ți scriem doar să-ți urăm Crăciun Fericit, ci să-ți oferim și un cadou: 
          un nou
          <a href="https://frontend.ro/christmas-advent-2022" target="_blank">tutorial despre React și 3D</a>
          creat împreună cu
          <a href="https://colorfulcoding.com/" target="_blank">Colorful Coding</a>!
        </p>
        <p class="text-bold christmas-font">
          Ajută-l pe Moș Crăciun să repare fabrica de cadouri!
        </p>
        <img
          class="max-w-full rounded-md"
          src="https://d3tycb976jpudc.cloudfront.net/public/images/christmas-advent-2022/email_christmas-advent-2022.png"
        />
        <p>
          Din păcate fabrica de mai sus e nefuncțională.
          În cele 6 părți ale tutorialului o vom repara pas cu pas, codând
          în React și
          <a href="https://threejs.org/" target="_blank">
            Three JS.
          </a>
        </p>
        <p>
          Acesta e primul tutorial 100% interactiv de pe platforma noastră.
          Vei coda într-un editor online și vei vedea în timp real ce efect
          au schimbările tale. Plus, evaluarea se face automat, deci dacă 
          vrei să faci "binge" la acest tutorial, o poți face fără griji.
        </p>
        <img
          class="max-w-full rounded-md"
          src="https://d3tycb976jpudc.cloudfront.net/public/images/christmas-advent-2022/email_christmas-advent-2022_editor.png"
        />
        <div class="call-to-action">
          <p>
            Te invităm să încerci tutorialul și-ți urăm un An Nou fericit!
          </p>
          <a href="https://FrontEnd.ro/christmas-advent-2022" class="btn btn--blue"> Începe tutorialul </a>
        </div>
        {{> email_signature}}
        <p class="font-light">PS: orice feedback este binevenit, deci nu ezita să ne scrii!</p>
        <small>
          <a href="\{{{ pm:unsubscribe }}}"> Dacă nu mai vrei să primești email-uri cu ultimele noutăți, apasă pe acest link. </a>
        </small>
      </td>
    </tr>
  </tbody>
</table>