.landing-schmoes {
  font-size: 0;
  bottom: 0;
  white-space: nowrap;

  & > div {
    width: 15%;
    z-index: 1;
    position: relative;
  }

  @mixin back-row-schmoe {
    left: 0;
    z-index: 0;
    bottom: 0.5em;
    position: absolute;
    transform: none !important; // Using important because the style is set via JS
  }

  /** 7 Schmoes in a row */
  @media screen and (max-width: 1350px) and (min-width: 1100px) {
    & > div {
      width: 19%;

      &:nth-child(n + 8) {
        display: none;
      }
    }
  }

  /** 5 Schmoes in front | 4 Schmoes in the back */
  @media screen and (max-width: 1100px) and (min-width: 800px) {
    & > div {
      width: 26%;

      &:nth-child(n + 6) {
        @include back-row-schmoe;
      }

      &:nth-child(6) {
        left: 10%;
      }

      &:nth-child(7) {
        left: 27.5%;
      }

      &:nth-child(8) {
        left: 45%;
      }

      &:nth-child(9) {
        left: 62.5%;
      }
    }
  }

  /** 4 Schmoes in front | 3 Schmoes in the back */
  @media screen and (max-width: 800px) and (min-width: 600px) {
    & > div {
      width: 33%;

      &:nth-child(n + 5) {
        @include back-row-schmoe;
      }

      &:nth-child(5) {
        left: 10%;
      }

      &:nth-child(6) {
        left: 35%;
      }

      &:nth-child(7) {
        left: 58%;
      }

      &:nth-child(n + 8) {
        display: none;
      }
    }
  }

  /** Below this value do not show the texts on hover */
  @media 
  screen and (max-width: 800px),
  screen and (max-height: 800px) {
    :global .Schmoe__thought {
      display: none;
    }
  }

  /** 3 Schmoes the front | 2 Schmoe in the back */
  @media screen and (max-width: 600px) {
    & > div {
      width: 42%;

      &:nth-child(n + 4) {
        @include back-row-schmoe;
      }

      &:nth-child(4) {
        left: 15%;
      }

      &:nth-child(5) {
        left: 43%;
      }

      &:nth-child(n + 6) {
        display: none;
      }
    }
  }

  @media screen and (max-height: 580px) {
    position: relative;
  }
}
