@import '../../styles/variables';

.markdown {
  position: relative;

  &.default {
    padding: 1em;
    font-family: sans-serif;
    border: 1px solid color(silver);
    background-color: color(darker-white);
  }

  &.transparent {
    border: 0;
    background-color: transparent;
  }

  &.none {
    font-family: inherit;
    font-size: inherit;
  }

  a {
    border-bottom: 1px solid color(silver);
  }
}