@import "../../styles/variables";

.ProgressLink {
  overflow: hidden;
  padding: 1em 0.5em;
  border: 1px solid color(silver);

  &.active {
    font-weight: bold;
    border-width: 2px;
  }

  &.default.active {
    color: color(green);
    border-color: color(green);
  }

  &.waiting.active {
    color: color(grey);
    border-color: color(grey);
  }

  &.error.active {
    color: color(red);
    border-color: color(red);
  }

  a {
    transition: transform 0.25s $cubic;
  }

  &:not(.active):hover a {
    transform: translateX(0.25em);
  }
}

.progress-wrapper {
  min-width: 2em;
  margin-right: 0.75em;
}

.check-icon {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 1.2em;
}
