@import '../../../../styles/variables';

.view-tooltip {
  
  .markdown {
    max-height: 14em;
    font-size: inherit;
    overflow: auto;
  }

  &.feedback--improvement .feedback-tooltip__controls {
    background: color(red);
  }

  &.feedback--opinion .feedback-tooltip__controls {
    background: color(yellow);
  }

  &.feedback--praise .feedback-tooltip__controls {
    background: color(green);
  }

  .feedback-tooltip__controls {
    text-align: right;
    padding: 0 0.75em 0.4em 0.75em;
    position: absolute;
    top: 100%;
    right: -0.5em; // parent border width
    margin: 0.5em 0 0 0;
    border-radius: 0 0 0.5em 0.5em;

    .btn {
      font-size: 0.8em;
      margin: 0;
      background: color(white) !important;

      i {
        margin-left: 5px;
      }

      &:hover {
        transform: none;
        box-shadow: 0 0 3px color(grey);
      }
    }
  }
}
