@import '../../../styles/variables';

.LandingSubscribe {
  padding: 0.5em 0 2em 0;

  & > section {
    width: $width;
    margin: 0 auto;
    max-width: $max-width;
  }
  
  h2 {
    font-size: calc(1.5em + 1vw);
  }

  .SubscribeForm {
    margin: 2.5em auto;
    max-width: 17em;
  }
}
