@import '../../styles/variables';

.SubscribeForm {
  input {
    font-size: 1em;
    border-radius: 5px;
    padding: 0.5em 1em;
    border: 1px solid color(grey);
  }
}

.SubscribeFormWithText {
  padding: 1em 5em;
  border: 5px dashed color(silver);
  background: rgba(color(blue), 0.15);

  & > * {
    max-width: 45%;
  }

  @media screen and (max-width: 675px) {
    flex-flow: column;
    padding: 1em 3em;
    justify-content: center;

    & > * {
      max-width: 100%;
    }
  }
}
