@import '../../styles/variables';

.formatted {
  color: color(grey);
  padding: 0.15em 0.3em;
  display: inline-block;
  background: color(darker-white);
  border: 1px solid color(grey);
  border-radius: 5px;
  line-height: 1em;
  font-family: 'Courier New', Courier, monospace;
}
