@import '../../../styles/variables';

.figure {
  padding: 2vw;
  margin: 3em 0;
  max-width: 100%;
  position: relative;

  img,
  video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5em;
    transition: transform 0.5s $cubic;

    &:hover {
      transform: scale(1.05);
    }
  }

  figcaption {
    color: color(grey);
    position: relative;
    bottom: -1vw;
    left: 0;
    font-size: 0.6em;
    width: 100%;
    text-align: center;
    display: inline-block;
  }
}

.figure--border {
  border-radius: 1em;
  border: 1px solid color(silver);
}
