@import '../../../styles/variables';

.ControlPanel {
  color: var(--text-color);
  background: var(--background-color);
  
  padding: 2em;
}

.ControlPanelNav {
  width: 12em;
  min-width: 10.5em;
}

.main {
  @extend %containerConfig;
  padding: 0 2em;
}

@mixin ControlPanel-column {
  row-gap: 2em;
  flex-direction: column;

  [class*=ControlPanel_ControlPanelNav] {
    width: 100%;
    gap: 1em;
    flex-flow: row wrap;
  }

  [class*=ControlPanel_main]{
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
