@import '../../../styles/variables';

.ControlPanelNav {
  top: 0;
  width: 12em;
  position: sticky;
  min-width: 10.5em;
}

.main {
  @extend %containerConfig;
  padding: 0 2em;
}

@mixin ControlPanel-column {
  row-gap: 2em;
  flex-direction: column;

  [class*=ControlPanel_ControlPanelNav] {
    gap: 1em;
    width: 100%;
    position: static;
    flex-flow: row wrap;
  }

  [class*=ControlPanel_main]{
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
