@import '../../../styles/variables';

.Certification {
  @extend %containerConfig;
  max-width: 1200px;
  margin-top: 3em;
  padding-bottom: 5em;

  h1 {
    margin-top: 3em;
    margin-bottom: 0;
    font-size: 30px;
  }
}

.exercise-list {
  gap: 2em;
  display: grid;
  margin-top: 2em;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1000px) {
  .exercise-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .exercise-list {
    gap: 2em 0;
    grid-template-columns: 1fr;
  }
}
