@import '../../../styles/variables';

.folder-browse {
  position: relative;

  &.has--file-with-feedback > .folder-button span {
    color: color(red);
    font-weight: bold;
  }

  & > .folder-button {
    width: 100%;
    white-space: nowrap;
    text-align: left;
    padding: 0.25em 0 0.25em 0.5em;

    span {
      margin-right: 0.5em;
    }

    &:hover:not(.is-being-renamed),
    &.is--ctx-selected {
      @extend %blueGradientBackground;
    }

    &.is-being-renamed {
      border: 1px solid color(black);
    }
  }
  &::before {
    content: '';
    display: block;
    width: 3px;
    background: color(darker-white);
    height: calc(100% - 2.15em);
    position: absolute;
    top: 2.1em;
    left: 0.8em;
  }
  &.is--open > [class*=files-list],
  &.is--open > .folder-browse {
    display: block;
  }

  [class*=files-list],
  .folder-browse {
    display: none;
    margin-left: 1em;
  }
}

.folder-input {
  background: none;
  border: 0;
  color: inherit;
  text-overflow: ellipsis;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  pointer-events: none;
  width: 100%;

  &:not([disabled]) {
    pointer-events: initial;
    cursor: text;
  }
}
